.bg-navbar{
	background-image: linear-gradient(#C70909, #F0BF0F);
}

.image-slider{
	height: 500px;
}

.btn-slider{
	background-image: linear-gradient(#C70909, #F0BF0F);
	width: 50px;
	height: 50px;
	border-radius: 50px;
	margin-top: 20%;
	margin-left: 3%;
	margin-right: 3%;
}

.bg-caption{
	background-color: black;
	opacity: 0.8;
	border-radius: 20px;
	height: 200px;
}

.set-image{
	width: 350px;
	height: 250px;
}

h3{
	color: #d64b0b;
	font-weight: bold;
}

.th-warna{
	background-color: orange;
}

.footer{
	height: 90px;
	background-color: black;
}

.copyright{
	padding-top: 25px;
}